.body {
  font-family: Roboto, Questrial, Epilogue, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
}

.nav .link-logo .accent {
  color: #2e2f42;
}

.nav .link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.menu .menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-item-link:hover,
.menu-item-link:active,
.menu-item-link:focus {
  color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
  font-style: normal;
}

.header-contacts .contacts-link:hover,
.header-contacts .contacts-link:focus {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.features {
  background: #fff;
}
.features-title {
  letter-spacing: 0, 02em;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.crew {
  background: #f4f4fd;
}

.crew-title {
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.crew-item {
  background: #fff;
}

.crew-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.crew-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.info {
  background: #fff;
}

.info-title {
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-item {
  background: #fff;
}

.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
}

.footer .link-logo .accent {
  color: #f4f4fd;
}

.footer .link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
